:root {
  --neutral-900: #121212;
  --neutral-800: #262626;
  --neutral-500: #727279;
  --neutral-400: #959597;
  --neutral-0: #fff;
  --dark-blue: #1a7dff;
  --light-blue: #4da6ff;
  --light-yellow: #f4dc71;
  --color-red: #d64c5a;
  --color-green: #4cd67a;
}
/* utilities start */
.cursor {
  background-color: var(--neutral-500);
  animation: cursor 1s ease infinite;
}
.btn--active {
  color: var(--dark-blue) !important;
  border: 1px solid var(--light-blue) !important;
}
.char--correct {
  color: var(--color-green);
}
.char--wrong {
  color: var(--color-red);
  border-bottom: 2px solid var(--color-red);
}
.text--blur {
  filter: blur(6px);
}
.hidden {
  display: none !important;
}
.time--started {
  color: var(--light-yellow);
}
.accuracy--started {
  color: var(--color-red);
}
/* utilities end */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  color: var(--neutral-400);
  background: var(--neutral-900);
  font-size: 1.6rem;
  padding: 3rem 12rem;
  position: relative;
}
/* header styles */
.header {
  display: flex;
  justify-content: space-between;
}
.best-score {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.best-score__icon {
  width: 2rem;
}
.best-score__value {
  font-size: 1.4rem;
  color: var(--neutral-0);
}
[class$="value"] {
  font-weight: 700;
  color: var(--neutral-0);
}
[class$="text"] {
  font-size: 1.2rem;
}
/* options and typing information */
.config-logs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
}
.typing-info,
.typing-options,
.difficulty,
.mode {
  display: flex;
}
.typing-options {
  justify-self: end;
}
.typing-info p:first-of-type {
  padding: 0 2rem 0 0;
}
.typing-info > p:not(:first-of-type) {
  padding: 0 2rem;
  border-left: 1px solid var(--neutral-800);
}
.accuracy--color {
  color: var(--color-red);
}
.time-color {
  color: var(--light-yellow);
}
.mode,
.difficulty {
  align-items: center;
  gap: 1rem;
}
.mode {
  padding-left: 2rem;
}
.difficulty {
  padding-right: 2rem;
  border-right: 1px solid var(--neutral-800);
}

.btn {
  background-color: transparent;
  cursor: pointer;
  color: var(--neutral-0);
  border: 1px solid var(--neutral-500);
  border-radius: 0.6rem;
  padding: 0.4rem 0.6rem;
  transition: all 0.3s ease;
  &:hover {
    color: var(--dark-blue);
    border: 1px solid var(--light-blue);
  }
  &:focus {
    outline: 2px solid var(--light-blue);
    outline-offset: 0.1rem;
  }
}

.btn:not(:last-of-type) {
  margin-right: 0.2rem;
}

/* styling text */
.text-box {
  padding: 4rem 0;
  line-height: 1.6;
  border-top: 1px solid var(--neutral-800);
  border-bottom: 1px solid var(--neutral-800);
  user-select: none;
  font-size: 3rem;
}
.restart {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 0.6rem;
  margin: 3rem auto 0 auto;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(0.98);
  }
  & img {
    width: 1.4rem;
  }
}
/* start overlay */
.start-overlay {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: var(--neutral-0);
  & .start-overlay__btn {
    color: inherit;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;
    background-color: var(--dark-blue);
    transition: all 0.3s ease;
    &:hover {
      transform: scale(0.98);
    }
  }
}
@keyframes cursor {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--neutral-500);
  }
}
